<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>it.unito.taass.irevaleo.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profilo</servlet-name>
        <servlet-class>it.unito.taass.irevaleo.controller.Profilo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistraUtente</servlet-name>
        <servlet-class>it.unito.taass.irevaleo.controller.RegistraUtente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InviaRichiesta</servlet-name>
        <servlet-class>it.unito.taass.irevaleo.controller.InviaRichiesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValutaManutente</servlet-name>
        <servlet-class>it.unito.taass.irevaleo.controller.ValutaManutente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoRegistrati</servlet-name>
        <servlet-class>it.unito.taass.irevaleo.controller.GoRegistrati</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificaUtente</servlet-name>
        <servlet-class>it.unito.taass.irevaleo.controller.VerificaUtente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AggiungiCompetenza</servlet-name>
        <servlet-class>it.unito.taass.irevaleo.controller.AggiungiCompetenza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RichiesteInCorso</servlet-name>
        <servlet-class>it.unito.taass.irevaleo.controller.RichiesteInCorso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RichiestePassate</servlet-name>
        <servlet-class>it.unito.taass.irevaleo.controller.RichiestePassate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profilo</servlet-name>
        <url-pattern>/Profilo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistraUtente</servlet-name>
        <url-pattern>/RegistraUtente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InviaRichiesta</servlet-name>
        <url-pattern>/InviaRichiesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValutaManutente</servlet-name>
        <url-pattern>/ValutaManutente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoRegistrati</servlet-name>
        <url-pattern>/GoRegistrati</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificaUtente</servlet-name>
        <url-pattern>/VerificaUtente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AggiungiCompetenza</servlet-name>
        <url-pattern>/AggiungiCompetenza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RichiesteInCorso</servlet-name>
        <url-pattern>/RichiesteInCorso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RichiestePassate</servlet-name>
        <url-pattern>/RichiestePassate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
